<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OrionLib.IntegrationTests.OrionTestSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OrionLib.IntegrationTests.OrionTestSettings>
            <setting name="SubscriptionAddress" serializeAs="String">
                <value>http://localhost:6001/</value>
            </setting>
            <setting name="OrionAddress" serializeAs="String">
                <value>http://orionhost:1026</value>
            </setting>
        </OrionLib.IntegrationTests.OrionTestSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
